body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
  }
  

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('./images/codebackground.jpg');
    background-size: cover;
    color:white;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
  }

  .jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
  }
  
  .jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100%;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 5rem;
  }
  .col-md-6 {
    margin: 0 0 30px;
  }
  /* A link that has not been visited */
a:link {
  color: white;
}
/* A link that has been visited */
a:visited {
  color: white;
}
/* A link that is hovered on */
a:hover {
  color: white;
}
/* A link that is selected */
a:active {
  color: white;
}
  
  /* button */
  .mybutton {
    box-shadow: 3px 5px 20px -7px #0076e4;
    background-color:#F74B60;
    border-radius:5px;
    border:3px solid #F74B60;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight:bold;
    padding:8px 19px;
    margin: 10px;
    text-decoration:none;
    text-shadow:1px 1px 3px #000000;
  }
  .mybutton:hover {
    background-color: #0076e4;
    border:3px solid #0076e4;
  }
  .mybutton:active {
    color: white;
    position:relative;
    top:1px;
  }
  
  .mybutton-secondary {
    background-color: #0076e4;
    color: #ffffff;
    margin: 0 0 30px;
  }
  .center {
    text-align: center;
  }

  /* project cards */
  figure {
    /* border: 1px solid black; */
    margin: 1rem;
    /* padding: 5rem; */
  }

  .card {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .project-image {
   /* width: 25rem; */
   height: 40rem;
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }
